* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    background-color: whitesmoke;

}

body {
    font-size: 4rem;
}

h1,h2,p {
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0;
    /* color: red; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

